 <!-- Services -->
    <section id="companies">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why Project Destination</h2>
             <h3 class="section-subheading text-muted">Some reasons why we want to suggest a collaboration.</h3>
          
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <!--span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span-->
            <img class="cirkelbild" src="../img/logos/company page_what can we offer.jpg"/>
            <h4 class="service-heading">What can we offer you?</h4>
            <p class="text-muted">We offer tailormade and cost-effective events, which will help your company  reach your target students at KTH. The events will be customized according to your desire and Project Destination will use its wide network and marketing channels to find the candidates that your company is looking for.</p>
          </div>
          <div class="col-md-6">
            <!--span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span-->
            <img class="cirkelbild" src="../img/logos/company page_why your company.jpg"/>
            <h4 class="service-heading">Why your company?</h4>
            <p class="text-muted">We want to get in contact with employers that are attractive among the studends in our network. We believe that we can find a creative arrangement that appeals to students in order to facilitate your talent attraction and increase your competitive advantage among students at KTH.</p>
          </div>
          </div>
          <div class="row text-center">
          <div class="col"></div>
          <div class="col-md-6">
            <!--span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span-->
            <img class="cirkelbild" src="../img/logos/company page_what_s in it for us.jpg"/>
            
            <h4 class="service-heading">What’s in it for us?</h4>
            <p class="text-muted">Apart from getting to know nine new friends from all of KTH’s different programs and having a great time, everyone in the project group of Project Destination are registered for the course Industrial Development and Entrepreneurship, equivalent to 15 credits at KTH. The course is organized as a project that ends with a field trip and a concluding magazine, giving an understanding of the factors that contribute to industrial and economic development and entrepreneurship.

The aim of the trip is to visit international companies and universities to enhance awareness of international career possibilities and expand our international network.
</p>
          </div>
<div class="col"></div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col"></div>
            <div class="col-md-6">
              <a href="../catalogue/Product_Catalog.pdf" download>
                <h4>Click to download our product catalog</h4>
              </a>
            </div>
          <div class="col"></div>
        </div>
      </div>
    </section>