<!-- Portfolio Grid -->
    <section  id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Events</h2>

            <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
          </div>
        </div>
        <!--h4>Upcoming..</h4-->
          <br>
        <div class="row">
        <h3 class="col-md-4">Upcoming Events</h3>
        </div>
        <div class="row">
        <!--h2 class="col-md-6">More comming soon!</h2>
        <br-->
        </div>
        <div class="row">
                 <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal16">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/EWB_lunch lecture.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Ingenjörer utan Gränser</h4>
            </div>
          </div>

         <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal15">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/SAAB_event.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">University Day</p>
              <h4>SAAB</h4>
            </div>
          </div>
        



          </div>
          <div class="row">
          <h3 class="col-md-4">Past Events</h3>
          <!-- =========================================================================== -->
          </div>
          <div class="row">
          <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal14">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_sverigesing.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Sveriges Ingenjörer</h4>
            </div>
          </div>

          

           <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal12">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_FMV.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture/Mingle</p>
              <h4>FMV</h4>
            </div>
          </div>
                     <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal13">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_xylem.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Xylem</h4>
            </div>
          </div>
                    <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal10">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_rejlers.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Rejlers</h4>
            </div>
          </div>
                          <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_sandvik_evening.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Evening Event</p>
              <h4>Sandvik</h4>
            </div>
          </div>
                   <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_granges_rosa.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Field Trip</p>
              <h4>Gränges</h4>
            </div>
          </div>
                    <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_sandvik.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Sandvik</h4>
            </div>
          </div>
                  <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_uniter.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Evening Event</p>
              <h4>Uniter</h4>
            </div>
          </div>
        <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_fujitsu_competition.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Innovation Competition</p>
              <h4>Fujitsu</h4>
            </div>
          </div>
         <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_hemso.png" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Evening Event</p>
              <h4>Hemsö</h4>
            </div>
          </div>
            <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_fortum.png" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Fortum</h4>
            </div>
          </div>
         <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_gränges.png" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Lunch Lecture</p>
              <h4>Gränges</h4>
            </div>
          </div>
           <div class="pastevents col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/eventbild_axholmen.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              
              <p class="text-muted">Dinner and Game Show</p>
              <h4>Axholmen</h4>
            </div>
          </div>

        </div> <!-- END ROW-->
        <!--h4>Old Events</h4>
          <br>
        <div class="row">
          
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Explore</h4>
              <p class="text-muted">Graphic Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Finish</h4>
              <p class="text-muted">Identity</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Lines</h4>
              <p class="text-muted">Branding</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Southwest</h4>
              <p class="text-muted">Website Design</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Window</h4>
              <p class="text-muted">Photography</p>
            </div>
          </div>
        </div-->
      </div>
    </section>