
<script type="text/javascript">
  var feed = new Instafeed({
    get: "tagged",
    tagName : "awesome",
    clientID : "wowowo"
  });
  feed.run();
</script>

<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <!--div class="intro-lead-in">Welcome To Our Studio!</div>
          <div class="intro-heading">It's Nice To Meet You</div>
          <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
        </div-->
      </div>
    </header>

    


    

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row  minrow">
        <!--div class="col"></div-->
          <div class="col-lg-12 text-center">
          <!--h3 class="section-heading">Follow our Trip!</h3>
          <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/6019680502e65a1bb5315e6baeed0e4b.html" scrolling="yes" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:1500px;"></iframe-->
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSepbjZkGN_l9-APGb53cD0kXm_aUV6cVHvBct-usCBnpP_38A/viewform"><h3>Click here to apply!</h3></a>
            <br>
            <br>
          </div>
          <div class="row minrow">
          <div class="col-lg-12"> 
          <h2 class="ansokan-rubrik text-center">Why apply to Project Destination?</h2>

          </div>
          </div>
          <div class="row minrow">
          <div class="col-lg-6">
             
              <img style="max-width: 100%; height:auto;" src="img/about/resa.jpg"/>
            <!--h2 class="section-subheading ansokan-rubrik text-center">About Project Destination</h2>
            <p>
              Project Destination is a non-profit student organisation at KTH with a project group of 10 members. The organisation was founded because of the need for more information about all of the fantastic international opportunities that are available for the KTH students. The aim of Project Destination is to inspire and motivate students from KTH to seize the spectacular career opportunities and business relations that exist globally. This is done together with partner companies, organizing events for KTH-students as well as writing and promoting inspiring material like this magazine. 
            <br>
            For 2-3 weeks each year the project group goes on a field trip to learn more about the culture and work life outside of Sweden. The project runs annually and a new project group is recruited each year. The students that are selected for Project Destination get 15 advanced credits (hp) to include in their engineering program. As a member of the project group you get a first hand experience of entrepreneurship, working with different strategies and collaboration with companies to achieve the goals of the project. And last but not least you get the chance to build a great network, meet inspiring people and get friends that will last for life. For students at KTH, Project Destination is a project that offers tons of possibilities and inspiration, so make sure to attend our events and take part of our inspiring journey that we now wish to share with you. </p--> 

            <br>
            <br>
       </div>
       <div class="col-lg-6">
        <div class="row minrow">
        <h3 class="whypd">Get to Know Cool People</h3>
          <p class="brod">Project Destination is an excellent way to get to know people from other programmes at KTH. You will together with 9 other people form a team where you will have a lot of fun and hard working during one year.
          </p>
        </div>
        
        <div class="row minrow">
        <h3 class="whypd">Meet Interesting Companies</h3>
          <p class="brod">During the year you will get an unique oportunity to meet both Swedish and international companies where you will get invaluable connections for the future.
          </p>
        </div>
        
                <div class="row minrow">
                  <h3 class="whypd">You Get to Travel</h3>
          <p class="brod">For the final magazine you get to go on a trip to your teams' destinations of choice. Some of the previous year's destinations years are: San Fransisco, Tokyo, Hong Kong and Africa!
          </p>
        </div>
      </div>
    </div>
      <div class="row minrow">
        <div class="col-lg-12">
         <h2 class="ansokan-rubrik text-center">The Roles in Project Destination</h2>
        </div>
      </div>
        <div class="row minrow">
        <div class="col-lg-6">
        


          
     
          <h4 class = "section-subheading roll-rubrik">Project Manager</h4>
          <p class="brod">The Project Manager is recruited by the former project group and is appointed in the beginning of the summer. As a Project Manager you are in charge of recruiting the team for your project year and to set up the visions, goals and structures of the project as well as coordinate all of the work throughout the year. Further the work includes leadership practices, strategy and execution as well as business administration. This is for you who want to learn more about leadership and wants to take Project Destination to the next level! </p>

           </div>
        <div class="col-lg-6">
        <br>

          <h4 class = "section-subheading roll-rubrik">Vice Project Manager</h4>
          <p class="brod">As Vice Project Manager you are the Project Manager’s right hand. This concludes supporting, helping and coordinating work and tasks in the project, as well as being a discussing partner for the development of the project. As a Vice Project Manager you are also in charge of the projects economy and budget. You will work with billing, accounting, payments and finance strategy. Earlier experience in accounting or finance in non-profit organisations is a plus but it is not a requirement for this role.</p>
        </div>
        </div>
        <div class="row minrow">
        <div class="col-lg-6">
        <br>  



          <h4 class = "section-subheading roll-rubrik">Sales Manager</h4>
          <p class="brod">As Sales Manager you are responsible for the projects entire sale process. This concludes managing, helping, supporting and coordinating the rest of the group with sales as well as being responsible for the creation of pitches, sales education and setting the sales targets. </p>

        </div>
        <div class="col-lg-6">
        <br>
           <h4 class = "section-subheading roll-rubrik">Marketing Manager</h4>
          <p class="brod">As Marketing Manager, you are responsible for all publicity and marketing outwards, towards students and companies. This means keeping a continuously inspiring and interesting flow in social media, making sure to advertise all the events properly and fill them to the fullest.</p>

          
          </div>
          </div>
        <div class="row minrow">
        <div class="col-lg-6">
        <br>

          <h4 class = "section-subheading roll-rubrik">Event Manager</h4>
          <p class="brod">As Event Manager you are responsible of delivering creative, organized and high quality events to both the students and the collaborating companies. You will be part of the whole event-chain, consisting of deciding what the concept of the event should be, planning the logistics which include scouting and booking venues and ordering food for the events and finally pick the event crew! You get the opportunity to work closely with the whole project destination team, the students attending the event and the companies.</p>

           </div>
        <div class="col-lg-6">
        <br>
        <h4 class = "section-subheading roll-rubrik">International Relations Manager</h4>
          <p class="brod">As an International Relations Manager, your role is to plan and organize the project’s field trip to the chosen destination. The field trip planning includes two parts. The first part is to find interesting companies at the destination and together with the company representative create fun and inspiring visits. The second part exists of creating an awesome trip by booking accommodation, transportation, restaurants and flight tickets. Earlier experiences of organizing travel or living in another country, for example exchange studies, are valuable knowledge to have as an IR manager.</p>
          

       
          </div>
          </div>
                  <div class="row minrow">
        <div class="col-lg-6">
        <br>

          <h4 class = "section-subheading roll-rubrik">Art Director</h4>
          <p class="brod">As Art Director you are in charge of all the graphic material during the project. That is creating a visual identity, which you make sure is being followed and implemented in all the material you produce. Furthermore, you create a product portfolio, flyers, posters, and posts for social medias. At the end of the project, the group produces a magazine that you are in charge of designing and planning.</p>
          
           </div>
        <div class="col-lg-6">
        <br>

          <h4 class = "section-subheading roll-rubrik">IT Manager</h4>
          <p class="brod">The role as IT Manager is a combination of web editor and webmaster. You must be prepared to take care of both the strictly technical (the website, emails, handling data, etc) as well as the graphical design together with the Art Director and the Marketing Manager. The job has you build flexible technical solutions (and/or be flexible with your own time to fix problems as they come up) that can handle requirements varying quite a lot between different Project Destination events.</p>


          </div>
          <!--div class="col"></div-->
        </div>
        <!--div class="row minrow">
          <div class="col-lg-12 ansokan">
          <br>
          <h2 class="section-subheading ansokan-rubrik text-center">Why should you apply to PD 18/19?</h2>
          <br>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
          <p>
            If it was possible to describe Project Destination 17/18 in two simple words, the most suitable would probably be ‘totally amazing’.
<br>
We have all concluded that the best way to get to know 9 other people truly is to experience crowded boat trips with delays in Tanzania, cancelled ubers on the way to company visits and many hours of waiting in tiny and sauna tempered airports. But wow, how many unforgettable moments and memories we have gathered along the way! Project Destination is not only for you to get to know other people but also yourself. Your strengths and your weaknesses, your reactions in different situations and how you envision your future. 
<br>
<br>
Working close to our interesting partner companies, developing strategies for our project and being entrepreneurs has provided us with valuable insights and experiences that will be crucial for our future careers. One of the most rewarding things with being a part of Project Destination is the personal development and evolvement of each individual member of the team. We have had so much fun during our year, and even though some days were more demanding than other, we made it through together!
</p>
</div>
<div class="col-lg-6">
<p>
While in Tanzania and South Africa we discovered the many possibilities you have as a KTH student, how the companies are working and what they can offer you. We also realized how the working environment and culture differs between companies as well as countries, something that gave us the chance to steer our international career path in a certain direction. Hopefully we can, by this magazine, inspire you and other students to find your opportunities.
<br>
<br>
Though, two simple words could never fully describe Project Destination. Therefore we encourage all of you to take the opportunity to join the project and create your own experiences and memories. It is impossible to describe the feeling of arriving to Zanzibar after two intensive travel weeks, running into the ocean in the sunset and cheering together - you must experience it yourself. 
</p>
<p style="font-weight: bold;">
Don’t miss this chance, apply for Project Destination 18/19!
</p>
          </p>
      </div>
        </div-->
      <div class="row  minrow">
        <div class="col-lg-12 text-center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSepbjZkGN_l9-APGb53cD0kXm_aUV6cVHvBct-usCBnpP_38A/viewform"><h3>Apply now!</h3></a>
            <br>
            <br>

        <a href="img/about/magasinet.pdf"><h3>Click here to read our Magazine and find out more!</h3></a>

        </div>


        </div>




      <!--div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2009-2011</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>March 2011</h4>
                    <h4 class="subheading">An Agency is Born</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>December 2012</h4>
                    <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div-->
    </section>