 <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why Project Destination</h2>
            <h3 class="section-subheading text-muted">Here are some reasons why this is the best project at KTH</h3>
          </div>
        </div>
        <div class="row text-center">
        <div class="col"></div>
          <div class="col-md-6">
            <!--span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Commerce</h4-->
            <p class="text-muted">Project Destination is a KTH-platform with a focus on the international work market, where students and companies meet and establish contact for future collaborations. Every student  wants to work for the most interesting company, but finding a way in or even finding an exciting company can be difficult. We at Project Destination aim to be the bridge to connect these exciting companies with you to unveil the vast opportunities within and outside Sweden. <br>

 - The project runs from August until May each year.<br>
 - The new project group is recruited end of june each year, the application for applying for the project are open in end of may.<br>
 - We have events with companies from different sectors, example of events and upcoming events check the event-page.
</p>
          </div>
          <div class="col"></div>
          </div>
          <div class="row text-center">
          <div class="col"></div>
          <div class="col-md-6">
            <!--span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span-->
            <img class="cirkelbild" src="../img/logos/student page_Project group.jpg"/>
            <h4 class="service-heading">What's in it for the project group?</h4>
            <p class="text-muted">Apart from getting to know nine new friends from all of KTH’s different programs and having a great time, everyone in the project group of Project Destination are registered for the course Industrial Development and Entrepreneurship, equivalent to 15 credits at KTH. In other words giving the project group university credits for their efforts. The course is organized as a project that ends with a field trip and a concluding magazine, giving an understanding of the factors that contribute to industrial and economic development and entrepreneurship. 

The aim of the trip is to visit international companies and universities to enhance awareness of international career possibilities and expand our international network. Some of the previous year's destinations years are: San Francisco, Tokyo, Hong Kong and Seoul.
</p>
          </div>
          <div class="col"></div>
          <!--div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div-->
        </div>
        </div>
      </div>
    </section>